.container{
  width: 1180px;
  margin: 0 auto;
}

body {
  background-image: url('../images/bg-body.png');
}

.logo {
  display: flex;
  justify-content: center;
  border-radius: 10vh;
  margin: 2% 2%;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu li {
    background: black;
    width: 20vh;
    line-height: 5vh;
    text-align: center;
    text-transform: uppercase;
}

nav.main-nav {
  margin-bottom: 3vh;
}

.menu a {
  text-decoration: none;
  color: #ffff;
}
.banner img {
  width: 100%;
  margin-bottom: 3vh;
}
.vip-products .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
    width: 46vh;
}
article.product img {
  width: 100%;
}
