.container{
  width: 1180px;
  margin: 0 auto;
}

body {
  background-image: url('../images/bg-body.png');
}

.logo {
  display: flex;
  justify-content: center;
  border-radius: 10vh;
  margin: 2% 2%;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu li {
    background: #323334;
    width: 20vh;
    line-height: 5vh;
    text-align: center;
    text-transform: uppercase;
}

nav.main-nav {
  margin-bottom: 3vh;
}

.menu a {
  text-decoration: none;
  color: #ffff;
}
.banner img {
  width: 100%;
  margin-bottom: 3vh;
}
.vip-products .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article.product {
    width: 46vh;
    margin-bottom: 5vh;
}
article.product img {
  width: 100%;
  margin-bottom: 3vh;
}
article.product h2 {
  margin-bottom: 2vh;
  font-weight: bold;
  font-size: 3vh;
}
article.product p {
  font-size: 2.4vh;
  color: #6c6c6c;
  margin-bottom: 2vh;
}

article.product a {
  text-decoration: none;
  background: #323334;
  color: #ffff;
  padding: 1vh;
}

footer{
  background: #C00000;
  border-radius: 1vh 1vh 0 0;
  height: 13vh;
}

.menu-footer {
  display: flex;
  justify-content: center;
  align-content: space-around;
  line-height: 13vh;
}

.menu-footer a {
  text-decoration: none;
  color: #FFF;
  padding-left: 7vh;
  width: 2vh;
  text-align: center;
}

.divisor {
  margin-left: 3vh;
}

@media(max-width: 768px) {
  .menu li {
      background: #323334;
      width: 8vh;
      line-height: 5vh;
      text-align: center;
      text-transform: uppercase;
  }

}
